

<div class="row">
  <div class="medium-10 columns content-focus">

    {{#if messages_list}}


      <ul class="inbox-list">

        {{#each messages_list}}
        <li {{#unless message.date_read}}class="unread"{{/unless}}>
            <span class="avatar"><img src="{{sender.avatar.small}}" /></span>
            <span class="data">
              <span class="username"><a href="/messages/{{message.user_id_sender}}">{{sender.screenname}}</a></span>
              <span class="message">{{message.excerpt}}</span>
            </span>
            <span class="date">{{format_timestamp message.date_sent}}</span>
            <a class="trigger" href="/messages/{{message.user_id_sender}}"><img src="/images/blank.gif" /></a>
        </li>
        {{/each}}

      </ul>



      <ul class="inbox-list">

			{{#each profiles}}
			<h3>{{title}}</h3>

        {{#each messages}}
        <li {{#unless message.date_read}}class="unread"{{/unless}}>
            <span class="avatar"><img src="{{sender.avatar.small}}" /></span>
            <span class="data">
              <span class="username"><a href="/messages/{{message.user_id_sender}}">{{sender.screenname}}</a></span>
              <span class="message">{{message.excerpt}}</span>
            </span>
            <span class="date">{{format_timestamp message.date_sent}}</span>
            <a class="trigger" href="/messages/{{message.user_id_sender}}"><img src="/images/blank.gif" /></a>
        </li>
        {{/each}}

			{{/each}}

      </ul>


    {{else}}
    <h3>You have no messages.</h3>
    {{/if}}


  </div>
  <div class="medium-2 columns sidebar">
    {{> sidebar}}
    
  </div>
</div>
